<div class="header-container">
  <div class="header-wrapper">
    <h1 class="header-logo">
      <figure>
        <img src="../images/avatar.png" alt="">
      </figure>
      Michael Millan
      <span>UI/UX Designer & Front-end Developer</span>
    </h1>
    <ul class="header-menu">
      <li><a href="works.html">work</a></li>
      <li><a href="about.html">about</a></li>
      <li><a href="about.html">notes</a></li>
      <li><a href="contact.html">contact</a></li>
    </ul>
    <!-- <ul class="header-menu">
      <li><a href="works">work</a></li>
      <li><a href="about">about</a></li>
      <li><a href="about">notes</a></li>
      <li><a href="contact">contact</a></li>
    </ul> -->
  </div>
</div>